dashboard-backend/wsdl.xml

<?xml version='1.0' encoding='UTF-8'?><!-- Published by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is XML-WS Runtime 4.0.0 git-revision#129f787. --><!-- Generated by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is XML-WS Runtime 4.0.0 git-revision#129f787. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://soap.dashboard.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://soap.dashboard.com/" name="ClientService">
<types>
<xsd:schema>
<xsd:import namespace="http://soap.dashboard.com/" schemaLocation="http://localhost:9090/soap/ClientService?xsd=1"/>
</xsd:schema>
</types>
<message name="getAllClients">
<part name="parameters" element="tns:getAllClients"/>
</message>
<message name="getAllClientsResponse">
<part name="parameters" element="tns:getAllClientsResponse"/>
</message>
<message name="getTopClients">
<part name="parameters" element="tns:getTopClients"/>
</message>
<message name="getTopClientsResponse">
<part name="parameters" element="tns:getTopClientsResponse"/>
</message>
<message name="getClientCount">
<part name="parameters" element="tns:getClientCount"/>
</message>
<message name="getClientCountResponse">
<part name="parameters" element="tns:getClientCountResponse"/>
</message>
<message name="generateClients">
<part name="parameters" element="tns:generateClients"/>
</message>
<message name="generateClientsResponse">
<part name="parameters" element="tns:generateClientsResponse"/>
</message>
<message name="resetClients">
<part name="parameters" element="tns:resetClients"/>
</message>
<message name="resetClientsResponse">
<part name="parameters" element="tns:resetClientsResponse"/>
</message>
<portType name="ClientService">
<operation name="getAllClients">
<input wsam:Action="http://soap.dashboard.com/ClientService/getAllClientsRequest" message="tns:getAllClients"/>
<output wsam:Action="http://soap.dashboard.com/ClientService/getAllClientsResponse" message="tns:getAllClientsResponse"/>
</operation>
<operation name="getTopClients">
<input wsam:Action="http://soap.dashboard.com/ClientService/getTopClientsRequest" message="tns:getTopClients"/>
<output wsam:Action="http://soap.dashboard.com/ClientService/getTopClientsResponse" message="tns:getTopClientsResponse"/>
</operation>
<operation name="getClientCount">
<input wsam:Action="http://soap.dashboard.com/ClientService/getClientCountRequest" message="tns:getClientCount"/>
<output wsam:Action="http://soap.dashboard.com/ClientService/getClientCountResponse" message="tns:getClientCountResponse"/>
</operation>
<operation name="generateClients">
<input wsam:Action="http://soap.dashboard.com/ClientService/generateClientsRequest" message="tns:generateClients"/>
<output wsam:Action="http://soap.dashboard.com/ClientService/generateClientsResponse" message="tns:generateClientsResponse"/>
</operation>
<operation name="resetClients">
<input wsam:Action="http://soap.dashboard.com/ClientService/resetClientsRequest" message="tns:resetClients"/>
<output wsam:Action="http://soap.dashboard.com/ClientService/resetClientsResponse" message="tns:resetClientsResponse"/>
</operation>
</portType>
<binding name="ClientServicePortBinding" type="tns:ClientService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getAllClients">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getTopClients">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getClientCount">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="generateClients">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="resetClients">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="ClientService">
<port name="ClientServicePort" binding="tns:ClientServicePortBinding">
<soap:address location="http://localhost:9090/soap/ClientService"/>
</port>
</service>
</definitions>